/**
.navbar{
    background-color: black;
    padding: 10px;
}
*/

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ddd;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.grid article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    height: 100%;
}
.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    cursor: pointer;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.error {
    background-color: red;
}

.search-image-by-name{
    display: flex;
    gap: 0.5rem;
}


.color-box {
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.color-box p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center; 
}

.button__delete {
    padding: 5px 10px;
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    align-self: flex-end;
}
